* {
    margin:0px;
    padding:0px;

}

body {
    background-color:rgb(255, 255, 255);
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#game {
    display:grid;
    grid-template-rows:repeat(12,1fr);
    grid-template-columns:repeat(12,1fr);
    /*width:85vw;
    height:85vh;
    max-width:85vh;
    max-height:85vw;*/
    width:85vmin;
    height:85vmin;
    margin:auto;
}
.box {
    border:0.3vmin solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.068);

    display:flex;
    align-content:center;
    justify-content: center;
    text-align:center;
    font-size:5.5vmin;
    cursor:pointer;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition:0.3s;

}

.box:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.03);
}

#footer {
    position: absolute;
    bottom:1vmin;
    right:2vmin;
    color:rgb(0, 0, 0);
}

#header {
    text-align:center;
    margin-top:1vh;
    color:rgb(0, 0, 0);
    font-size:7vh;
    font-family: 'Fira Code', monospace;

}

#overlay {
    position: absolute;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.popup {
    display:none;
    width:80vmin;
    height:60vmin;
    background-color: whitesmoke;
    border-radius:5px;
    padding:20px;
}




.gdpr {
    /*Display this at the beginning*/
    display:block;
}

p {
margin:20px;
}

button {
    background-color:#317CB9;
    color:white;
    width:70px;
    height:35px;
    border:1px solid;

}

.playerEmoji {
    width:30px;
    height:30px;
    font-size:25px;
}